* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Sarabun", sans-serif;
  background-color: #fff;
}
/* common */
a {
  text-decoration: none;
}
input,
select,
textarea,
button {
  font-size: inherit;
  font-family: inherit;
}

.container {
  width: 1200px;
  max-width: calc(100%-30px);
  margin: 0 auto;
}
.header{
  border-bottom: #333;
  border-bottom-style:solid;
  border-bottom-width: 1px;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.header_inner_left {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.logo {
  display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
  
}

.logo_img {
  width: 40px;
  height: auto;
  margin-right: 10px;
  background-color: black;
}

.nav_bar {
  margin-left: 30px;
}

.navbar_list {
  list-style: none;
  display: flex;
}

.navbar_item {
  margin-right: 20px;
}

.navbar_link {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.5s ease 0s;
  font-weight: 900;
  padding: 10px;
  border-radius: 20px;
}

.navbar_link:hover {
  background-color: #fed700;
}

.fomat {
  display: flex;
  align-items: center;
}

.search {
  position: relative;
  margin-right: 20px;
}

.search input[type="text"] {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding-right: 30px;
}

.search .fa-magnifying-glass {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
}

.top_cart {
  margin-right: 20px;
}

.cart_icon {
  width: 24px;
  height: auto;
}

.siginup {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.siginup:hover{
    cursor: pointer;
}

.avatar_icon {
  width: 30px;
  height: auto;
  margin-bottom: 5px;
}

.account_text {
  font-size: 14px;
  color: #333;
  font-weight: 500;
}

/* sideshow */
.image_slider {
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  align-items: center; */
  width: 1200px;
  max-width: calc(100%-40px);
  margin: 0 auto;
}
.image {
  max-width: 100%;
  height: 600px;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.image_title {
  font-size: 2rem;
  color: #8e8fb5;
}
/* .slick-prev{
  position: absolute;
  left: 19px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
}
.slick-next{
  position: absolute;
  top: 50%;
  right: 45px;
  transform: translateY(-50%);
  border: none;
} */
.featured_cotainer {
  width: 1200px;
  max-width: calc(100%-30px);
  margin: 0 auto;
}
.featured {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  margin-top: 100px;
  /* display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    align-items: center; */
}

.featured_image {
  height: 200px;
  margin-bottom: 20px;
}
.featured_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.slick-initialized .slick-slide {
  margin: 0 20px;
}
.featured_title {
  margin-top: 100px;
  margin-left: 200px;
  font-size: 2rem;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}
.slick-prev {
  position: absolute;
  top: -45%;
  right: 10%;
  transform: translateY(-50%);
  border: none;
}
.slick-prev :hover,
.slick-next:hover {
  background-color: #ccc;
  cursor: pointer;
}
.slick-track{
  margin-top: 1px;
}
.slick-next {
  position: absolute;
  top: -45%;
  right: 7%;
  transform: translateY(-50%);
  border: none;
}
.slick-arrow{
  margin-top: 37px;
}
.featured_buy {
  display: block;
  margin-bottom: 30px;
  color: #ccc;
}
.featured_content {
  display: block;
  font-weight: bold;
  margin-bottom: 30px;
}
/* foot */
.footer_content {
  width: 1200px;
  max-width: calc(100%-30px);
  margin: 0 auto;
  padding: 110px 0;
}
.footer {
  margin-top: 50px;
  /* padding: 110px 0; */
}
.slogan img {
  background-color: black;
}
.footer .row {
  display: flex;
  gap: 50px;
}

.footer .colum1 {
  margin-top: -85px;
  margin-left: 500px;
}

.footer .colum2 {
  margin-top: -85px;
}
.slogan {
  margin-left: 10%;
}
.row {
  margin-left: 30%;
}
.footer .title {
  color: #0e1735;
  font-size: 18px;
  font-weight: 600;
}

.footer .list {
  padding-top: 20px;
  color: #626687;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
}
.mail {
  margin-left: 10%;
}
/* form-group */
.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  background-color: rgba(241, 241, 241, 0.7);
  padding: 20px 20px;
  width: 1200px;
  max-width: calc(100%-40px);
  margin: 0 auto;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
  font-size: 1.6rem;
  color: #333;
}

.form-group select {
  padding: 5px;
  font-size: 1.6rem;
  width: 200px;
}

.search-btn {
  margin-top: 10px;
  background-color: #ffd700;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 1.6rem;
  cursor: pointer;
  width: 200px;
}

.search-btn:hover {
  transition: all 0.5s ease 0s;
  background-color: #ffc700;
}
.breadcrumbs {
  margin-top: 20px;
}
.breadcrumbs_nav {
  display: flex;
  align-items: center;
  margin-left: 160px;
  gap: 5px;
}
.breadcrumbs_link {
  font-size: 1.2rem;
  font-weight: 300;
  color: black;
  text-transform: uppercase;
}
.breadcrumbs_btn {
  border: none;
  background-color: #fff;
}
.nike {
  margin-top: 50px;
}
.nike_listitem:hover{
  border: 1px solid black;
}
.listnike {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 1200px;
  max-width: calc(100%-40px);
  margin: 0 auto;
  margin-bottom: 50px;
}
.nike_listitem {

}
.nike_link {
}

.nike_img {
  /* width: 256px; */
  height: 256px;
}

.nike_buy {
  display: block;
  margin-top: 30px;
  color: red;
}
.nike_content a:first-child {
  font-size: 1.6rem;
  font-weight: bold;
  color: black;
}
.nike_content a:first-child:hover {
  color: #fed700;
  cursor: pointer;
}
/* nikedetails */
.row-grid {
}
.nikedetails .row-grid {
  grid-template-columns: 70% 30%;
}
.nikedetails_left img {
  width: 500px;
  border: 1px solid black;
  border-radius: 12px;
}
.nikedetails {
  width: 1200px;
  max-width: calc(100%-30px);
  margin-left: 20%;
  margin-top: 70px;
}
.nikedetails_image img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.nikedetails_image img.active {
  border: 1px solid black;
}

.nikedetails_right_button {
  padding: 10px;
  margin-bottom: 30px;
  border-width: 1px;
  border-top: rgb(48, 47, 47);
  border-bottom: rgb(48, 47, 47);
  border-top-style: solid;
  border-bottom-style: solid;
}

.nikedetails_container {
  display: flex;
  align-items: center;
  gap: 100px;
}

.nikedetails_right_btn {
  display: inline-block;
  padding: 10px 15px;
  margin: 5px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s;
}

.nikedetails_right_btn:hover {
  border-color: black;
}

.nikedetails_right_btn:focus {
  outline: none;
  border-color: black;
}
.nikedetails_right {
  position: relative;
}
.nikedetails_right_infor {
  position: absolute;
  bottom: 280px;
  cursor: pointer;
  font-size: 2.6rem;
  font-weight: bold;
}
.nikedetails_right_infor p {
  margin-top: 20px;
  color: red;
}

.nikedetails_right_quantity {
  line-height: 30px;
}

.nikedetails_right_quantity_input input {
  width: 50px;
}

.nikedetails_right_cart {
  margin-top: 20px;
  /* width: 200px;
  height: 60px;
  padding: 10px; */
}
.nikedetails_right_cart_btn {
  width: 300px;
  height: 60px;
  letter-spacing: 2px;
  background-color: #fed700;
  font-weight: 800;
  border: none;
  border-radius: 25px;
}
.nikedetails_right_cart_btn:hover {
  color: white;
  cursor: pointer;
}

/* cart */
.cart_section_container {
  width: 1400px;
  max-width: calc(100%-30px);
  margin: 0 auto;
}

.cart_section_container .cart_section_rowgrid {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 400px;
}
.cart_section_left {
  margin-top: 50px;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 70px;
}

.cart_section_left_detail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  line-height: 50px;
  border: 1px solid #333;
  padding: 10px;
}

.cart_section_right {
  margin-top: 60px;
}
.cart_section_right input {
  height: 30px;
  border: none;
  background-color: #f3f3f3;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-left: 12px;
  border-radius: 12px;
  width: 100%;
}

.cart_section_right_select {
  display: flex;
  justify-content: space-between;
}
.cart_section_right_btn {
  margin-left: 40%;
  border: none;
  width: 100px;
  padding: 5px;
  border-radius: 12px;
  font-weight: 700;
  color: white;
  background-color: #272d34;
}
.cart_section_right_btn:hover {
  background-color: #fed700;
  cursor: pointer;
}



/* /////// */
